<div class="modal fade" id="addSkillModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="skillForm" (ngSubmit)="onSubmit($event)">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Editar habilidad:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="index()" (click)="clear()"></button>
                </div>
                <div class="modal-body">

                    <label for="skillInput" class="form-label">icono:</label>
                    <input type="text" class="form-control" id="skillInput" formControlName="skillIco">
                    <div *ngIf="SkillIco?.errors  && SkillIco?.touched">
                        <p *ngIf="SkillIco?.hasError('required')" class="error">
                            El icono es requerido.
                        </p>
                    </div>

                    <label for="percentInput" class="form-label">porcentaje:</label>
                    <input type="number" min="0" max="100" class="form-control" id="percentInput" formControlName="percent" >
                    <div *ngIf="Percent?.errors  && Percent?.touched">
                        <p *ngIf="Percent?.hasError('required')" class="error">
                            El numero es requerido.
                        </p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="index()" (click)="clear()">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>