<div class="about-section" *ngFor="let info of persons">
    <div class="btn-edit">
        <button type="button" *ngIf="isLogged" class="btn btn-edition " data-bs-toggle="modal" data-bs-target="#aboutmeModal" (click)="updateAboutme(info.id)">
            <i class="fa-solid fa-pencil"></i>
        </button>
    </div>
    <div class="profile-name">
        <h2 class="text-center">{{info.name}} {{info.lastname}}</h2>
        <h5 class="text-center">{{info.title}}</h5>
    </div>
    <div class="about-me">
        <h3>Acerca de mi:</h3>
        <p>{{info.aboutMe}}</p>
    </div>
    <div class="activity">
        <a href="{{info.jobLink}}" target="_blank">
            <img [src]="info.jobImg" class="activity-img" alt="">
        </a>
        <a href="{{info.studyLink}}" target="_blank">
            <img [src]="info.studyImg" class="activity-img" alt="">
        </a>
    </div>
</div>