<ul class="navbar-nav" *ngFor="let social of socials">
    <li class="nav-item" style="display: flex;">
        
        <a class="nav-link" href="{{social.socialLink}}" target="_blank">
            <i class="fa-brands fa-{{social.socialIco}} social"></i>{{social.socialIco}}
        </a>
        <button type="button" *ngIf="isLogged" class="btn btn-edition-w" data-bs-toggle="modal" data-bs-target="#addSocialMediaModal" (click)="updateSocialMedia(social.id)">
            <i class="fa-solid fa-pencil"></i>
        </button>
        <button type="button" *ngIf="isLogged" class="btn btn-edition-w" (click)="deleteSocialMedia(social.id)">
            <i class="fa-solid fa-trash-can text-center "></i>
        </button>
    </li>
</ul>