<div class="modal fade" id="profileModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit($event)" >
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Perfil</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clear()"></button>
                </div>
                <div class="modal-body">
                    <label for="profileInput" class="form-label">Imagen de perfil:</label>
                    <input type="url" class="form-control" id="profileInput" formControlName="profileImg">
                    <div *ngIf="ProfileImg?.errors  && ProfileImg?.touched">
                        <p *ngIf="ProfileImg?.hasError('required')" class="error">
                            La url es requerida.
                        </p>
                        <p *ngIf="ProfileImg?.hasError('pattern')" class="error">
                            El formato de la url debe ser valida.
                        </p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clear()">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>