<app-media-modal></app-media-modal>
<app-socialmedia-add-modal></app-socialmedia-add-modal>
<app-socialmedia-modal></app-socialmedia-modal>
<app-aboutme-modal></app-aboutme-modal>
<app-experience-add-modal></app-experience-add-modal>
<app-experience-modal></app-experience-modal>
<app-education-add-modal></app-education-add-modal>
<app-education-modal></app-education-modal>
<app-skill-add-modal></app-skill-add-modal>
<app-skill-modal></app-skill-modal>
<app-project-add-modal></app-project-add-modal>
<app-project-modal></app-project-modal>