<div class="modal fade" id="addJobModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form [formGroup]="experienceForm" (ngSubmit)="onSubmit($event)">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Agregar trabajo:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clear()"></button>
                </div>
                <div class="modal-body">
                    <label for="tittleJobInput" class="form-label">titulo de trabajo:</label>
                    <input type="text" class="form-control" id="tittleJobInput" formControlName="titleExp">
                    <div *ngIf="TitleExp?.errors  && TitleExp?.touched">
                        <p *ngIf="TitleExp?.hasError('required')" class="error">
                            El titulo es requerido.
                        </p>
                    </div>

                    <label for="imageJobInput" class="form-label">imagen actual de trabajo:</label>
                    <input type="url" class="form-control" id="imageJobInput" formControlName="imgExp">
                    <div *ngIf="ImgExp?.errors  && ImgExp?.touched">
                        <p *ngIf="ImgExp?.hasError('required')" class="error">
                            La url es requerida.
                        </p>
                        <p *ngIf="ImgExp?.hasError('pattern')" class="error">
                            El formato de la url debe ser valida.
                        </p>
                    </div>


                    <label for="dateInitInput" class="form-label">Fecha de inicio:</label>
                    <input type="date" class="form-control" id="dateInitInput" formControlName="dateInitExp">
                    <div *ngIf="DateInitExp?.errors  && DateInitExp?.touched">
                        <p *ngIf="DateInitExp?.hasError('required')" class="error">
                            La fecha es requerida.
                        </p>
                    </div>

                    <label for="dateEndInput" class="form-label">Fecha de finalizacion:</label>
                    <input type="date" class="form-control" id="dateEndInput" formControlName="dateEndExp">
                    <div *ngIf="DateEndExp?.errors  && DateEndExp?.touched">
                        <p *ngIf="DateEndExp?.hasError('required')" class="error">
                            La fecha es requerida.
                        </p>
                    </div>

                    <label for="nameJobInput" class="form-label">Institucion:</label>
                    <input type="text" class="form-control" id="nameJobInput" formControlName="institutionExp">
                    <div *ngIf="InstitutionExp?.errors  && InstitutionExp?.touched">
                        <p *ngIf="InstitutionExp?.hasError('required')" class="error">
                            La Institucion es requerida.
                        </p>
                    </div>

                    <label for="descriptionInput" class="form-label">descripcion:</label>
                    <textarea name="" class="form-control" id="descriptionInput" formControlName="descriptionExp"></textarea>
                    <div *ngIf="DescriptionExp?.errors  && DescriptionExp?.touched">
                        <p *ngIf="DescriptionExp?.hasError('required')" class="error">
                            La descripcion es requerida.
                        </p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clear()">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>