<div class="main-background">

    <div class="login">
        <div class="login-container">
            <img src="./assets/images/foto_de_perfil.jpg" id="img-profile" class="img-login" alt="">
            <form class="form-container">

                <label for="userInput"></label>
                <input type="text" class="form-box" id="userInput" placeholder="User">

                <label for="passwordInput"></label>
                <input type="password" class="form-box" id="passwordInput" placeholder="Password">

                <button type="submit" class="btn btn-dark form-button">login</button>
            </form>
        </div>
    </div>

</div>