<div *ngFor=" let experience of experiences" class="activity-box">
    <div class=" activity  ">
        <div class="activity-info">
            <div class="d-flex text-center">
                <h4>{{experience.titleExp}}</h4>
            </div>
            <div class="d-flex">
                <img [src]="experience.imgExp" id="img-info" class="img-info" alt="" />
            </div>
            <div class="d-flex flex-column">
                <h5>{{experience.dateInitExp}}</h5>
                <h5>{{experience.dateEndExp}}</h5>
            </div>
        </div>
        <div>
            <div class=" activity-main-text">
                <h5>
                    {{experience.institutionExp}}
                </h5>
                <p>{{experience.descriptionExp}}
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column ">
        <button type="button" *ngIf="isLogged" class="btn btn-edition" data-bs-toggle="modal" data-bs-target="#addJobModal" (click)="updateExperience(experience.id)" >
            <i class="fa-solid fa-pencil  text-center "></i>
        </button>
        <button type="button" *ngIf="isLogged" class="btn btn-edition" (click)="deleteExperience(experience.id)">
            <i class="fa-solid fa-trash-can text-center"></i>
        </button>
    </div>
</div>