<nav class="navbar navbar-dark navbar-expand-md bg-dark sticky-top">
    <app-logo></app-logo>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <app-socialmedia></app-socialmedia>
        <app-btn-login></app-btn-login>
        <app-btn-logout></app-btn-logout>
    </div>
</nav>