<main class="activity-container">
    <div class="column-1">
        <!-- experencia -->
        <div class="row-1">
            <div class="activity-main">
                <div>
                    <h2>Experencia:</h2>
                </div>
                <app-experience></app-experience>
            </div>
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-edition" data-bs-toggle="modal" data-bs-target="#experienceModal" (click)="createExperience()">
                    <i class="fa-solid fa-plus text-center "></i>
                </button>
            </div>
        </div>
        <!-- estudio -->
        <div class="row-1">
            <div class="activity-main">
                <div>
                    <h2>Estudios:</h2>
                </div>
                <app-study></app-study>
            </div>
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-edition" data-bs-toggle="modal" data-bs-target="#educationModal">
                    <i class="fa-solid fa-plus text-center "></i>
                </button>
            </div>
        </div>
        <!--skills-->
        <div class="row-1">
            <div class="activity-main">
                <div>
                    <h2>Habilidades:</h2>
                </div>
                <app-skill></app-skill>
            </div>
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-edition" data-bs-toggle="modal" data-bs-target="#skillModal">
                    <i class="fa-solid fa-plus text-center "></i>
                </button>
            </div>
        </div>
    </div>
</main>