* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        90deg,
            rgba(0, 0, 0, 0.932),
            rgba(255, 255, 255, 0.394),
            rgb(0, 0, 0, 0.932)),
        url(./assets/images/wallp3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.main-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    background-color: #efefef;
}

@media screen and (min-width:768px) {
    .main-background{
        padding: 0 0 1rem 0;
    }
}
@media screen and (min-width:769px) {
    .main-background{
        width: 80%;
    }
}

img{
    object-fit: cover;
    width: 100%;
}
/* boton de edicion*/
.btn-edition{
    font-size: 20px;
    margin: 0;
    padding: 0 7px;
    border:none;
    
}
.btn-edition:hover{
    text-shadow: 0px 0px 4px #000;
    color: #ffffffcc;
    transition:.2s;
}
.btn-edit{
    position: absolute;
}
.color {
    background-color: aqua;
}
.color2 {
    background-color: red;
}
.error{
    color: red;
}
textarea {
    resize: none;
    overflow: hidden;
}